<div class="card mx-xs-1 mx-lg-3 my-4">
  <a class="images-container" routerLink="/product/{{product?._id}}">
    <img [src]="product?.images?.[0]" [alt]="product?.name" />
    <img [src]="product?.images?.[1]" [alt]="product?.name" />
  </a>
  <div class="card-body">
    <div class="text-container">
      <p class="card-text">{{product?.price}} zł</p>
      <div>&#9733;&#9733;&#9733;&#9733;&#9734;</div>
    </div>

    <a routerLink="/product/{{product?._id}}">{{product?.name}}</a>

    <div class="movable-slate">
      <div class="movable-slate-body">

        <a routerLink="/cart/{{product?._id}}" [queryParams]="{qty:1}">
          <button class="button btn-secondary" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
            {{product?.countInStock ? 'GO TO CART' : 'OUT OF STOCK'}}
          </button>
        </a>
        <a *ngIf="product?.countInStock" class="icon-container" [ngClass]="{'green-color':isHovered}"
          routerLink="/cart/{{product?._id}}" [queryParams]="{qty:1}">
          <i class="material-icons icon">add_shopping_cart</i>
        </a>
      </div>
    </div>
  </div>
</div>