/* General styling -------------------- */
.card {
  box-shadow: inset 0 0px 0 2px grey, 1px 1px 2px 1px black;
  border-radius: 6px 6px 12px 12px;
  overflow: hidden;
  text-align: left;
  transition: box-shadow 0.1s, transform 0.05s;
  font-size: 1.5rem;
  min-width: 245px;
  a {
    text-decoration: none;
  }
  &:hover {
    box-shadow: inset 0 0px 0 2px rgba(250, 250, 250, 0.55), 1px 1px 1px 2px rgb(110, 110, 110);
  }
}


/* Top part of card  ----------------------------------*/
.images-container {
  background: white;
  height: 20rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  & img {
    position: absolute;
    padding: 5rem;
    background-color: white;
    width: 100%;
  }
  img:first-child {
    left: 0
  }
  img:last-child {
    left: 100%;
  }
}

/* Effect of sliding image ----------------------------------- */
.card {
  img {
    transition: 0.4s ease-out;
  }
  &:hover img {
    transform: translate(-100%);
  }
}

/* Bottom part of card -------------------------------------------------- */
.card-body {
  padding: 1.2rem 1.8rem;
  position: relative;
}

.text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 0.4rem;
  p {
    padding: 0;
    margin: 0;
  }
}

/* Effect of appearing slate with 'Go to cart' button --------------------- */
.card {
  .movable-slate {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%;
    background-color: rgba(58, 63, 68, 0.9);
    transform: translateY(-100%) rotateX(90deg);
    transform-origin: bottom;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 5px 5px 0 0;
    transition: 0.6s;
    z-index: 1;

    .movable-slate-body {
      opacity: 0;
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: 7px 0;
      .button {
        font-size: 1.4rem;
        padding: 0.5rem 2rem;
        box-shadow: inset 0 1px 1px 1px black;
        text-shadow: 0 0 5px black;
        border: none
      }
    }

  }
  &:hover {
    .movable-slate {
      transform: translateY(-100%) rotateX(0);
      opacity: 1;
      .movable-slate-body {
        opacity: 1;
        transition: 0.1s 0.29s opacity;
      }
    }
  }
}
/* ----------------------------------------------------------- */

/* Green icon ------------------------------------------------ */
@mixin icon-green-color {
  border: 2px solid lime;
  color: lime;
}

.card {
  .icon-container {
    position: absolute;
    right: 0.9rem;
    border: 2px solid rgba(128, 128, 128, 0.5);
    color: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    padding: .6rem 0.8rem 0;
    margin-right: 0.6rem;
    transform: scale(.97);
    opacity: 0.1;
    transition: .2s;
    &:hover {
      @include icon-green-color;
    }
    &.green-color {
      @include icon-green-color;
    }
    .icon {
      font-size: 1.8rem;
      transition: .1s;
    }
  }
  &:hover .icon-container {
    opacity: 0.7;
  }
}


/* ----------------------------------------------------------- */