<div class="search" *ngIf="filteredProducts | async as products">
  <div class='keyboardType-container' [style.transform]="showProducts ? 'scale(1)' : 'scale(1,0)'">
    <hr />
    <div *ngFor="let type of types">
      <div class="keyboardType" routerLink="/keyboards" [queryParams]="{type}" queryParamsHandling="merge"
        (click)="hide.emit()">
        {{type}}
      </div>
      <hr />
    </div>
  </div>
  <ng-container *ngIf="search$ | async as search">
    <div class='row miniSearch-container'>
      <div class='col miniSearch-cards'>
        <div class='not-found' *ngIf="!products.length"> The product is not found.</div>
        <div class="miniCard" *ngFor="let product of products; index as i" [style.animationDelay]="i*0.1+'s'">
          <img [src]="product.images[0]" [alt]="product.name" width='60px' />
          <div [routerLink]="'/product/'+ product._id" (click)="hide.emit()">
            <p>{{product.name}}</p>
            <p>{{product.price.toFixed(2)}}</p>
          </div>
        </div>
      </div>
      <div class="col-1 typesBrands" *ngIf="products.length">
        <ul class="types">
          <h2 class="title">TYPE:</h2>
          <li *ngFor="let type of filterUnique(products, 'category')" routerLink="/keyboards" [queryParams]="{type}"
            (click)="hide.emit()">
            {{type}}
          </li>
        </ul>
        <ul class="brands">
          <h2 class="title">BRAND:</h2>
          <li *ngFor="let brand of filterUnique(products, 'brand')" routerLink="/keyboards" [queryParams]="{brand}"
            (click)="hide.emit()">
            {{brand}}
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>