<header class='header'>

  <nav class="navbar bg-dark variant-dark fixed-top navbar-expand-md" useLineAnimation #line="useLineDirective">
    <div class="underline {{line.animationClass}}" [ngStyle]="line.position"></div>
    <div class="container">
      <app-search [search$]="search$" [showProducts]="showProducts" (emitHide)="hideSearch()">
      </app-search>
      <div class='brandWrapper' useBackground>
        <a class="navbar-brand" routerLink="/">KeyShop</a>
      </div>
      <form class='form' (submit)='handleSubmit()' [formGroup]="searchForm">
        <input type="text" placeholder="write what you're looking for" formControlName="search">
        <button type="submit" class="btn-search"><i class="material-icons">search</i></button>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#responsive-navbar-nav"
        aria-controls="responsive-navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons text-light">menu_open</span>
      </button>
      <nav class="collapse navbar-collapse" id="responsive-navbar-nav">
        <div class="me-auto">
          <a class="nav-link follow" [ngClass]="{active:showProducts}" (click)="toggleShowProducts()">Products
            <i class="material-icons chevron-up" [ngClass]="{rotateChevron:showProducts}">arrow_forward_ios</i>
          </a>
        </div>
        <div class="nav-link follow cartDiv" routerLinkActive="active" showMiniCart>
          <app-mini-cart [showCart]="showMiniCart"></app-mini-cart>
          <a routerLink="/cart">
            <i class="material-icons">shopping_cart</i> Cart
            <span class="cartItemsNum" *ngIf="cartItemsNum$ | async as cartItemsNum">{{cartItemsNum}}</span>
          </a>
        </div>
        <a *ngIf="!router.url.includes('register')" class="nav-link follow" routerLinkActive="active"
          routerLink="/login">
          <i class="material-icons">person</i> Sign&nbsp;in
        </a>
        <a *ngIf="router.url.includes('register')" class="nav-link follow" routerLinkActive="active"
          routerLink="/register">
          <i class="material-icons">person</i> Register
        </a>
        <a class="nav-link follow" routerLink="/admin" routerLinkActive="active">
          <i class="material-icons">security</i> Admin
        </a>
      </nav>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    <!----- router-outlet ------>
    <ng-content></ng-content>

  </div>
</main>
<footer class='py-5 bg-dark' useBackground>
  <div class="container">
    <bs-row>
      <bs-col>
        <h2>Copyright &copy; KeyboardsShop</h2>
      </bs-col>
    </bs-row>
  </div>
</footer>