$margin: 1.1rem;
.product-modal {
  min-width: 285px;
  h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-left: $margin;
  }
  button {
    letter-spacing: 4px;
    padding: 6px 15px;
    margin-right: $margin;
  }
  .image {
    padding: 9rem;
    background-color: white;
  }
  .btn-close {
    background-color: whitesmoke;
    padding: 5px 13px;
    margin-right: $margin;
  }
  .modal-content {
    border-radius: 10px;
  }
}
.miniImagesWrapper {
  position: absolute;
  bottom: 7%;
  background-color: white;
  box-shadow: 2px 2px 3px 1px black;
}
.miniImagesWrapper div {
  position: relative;
  display: inline-block;
  width: 15rem;
  height: auto;
  min-height: 10rem;
  padding: 7px 9px;
  cursor: pointer;
  line-height: 10rem;
}

@media screen and (max-width:999px) {
  .product-modal {
    .miniImagesWrapper div {
      padding: 0;
    }
    .modal-dialog {
      max-width: 90%;
    }
  }
}

@media screen and (max-width:750px) {
  .product-modal {
    h1 {
      font-size: 1.9rem;
      letter-spacing: 1px;
    }
    .miniImagesWrapper {
      bottom: 0;
      margin-bottom: -91px;
    }
    .modal-dialog {
      max-width: 100%;
    }
    .modal-content {
      border-radius: 0px;
    }
    .image {
      padding: 0;
    }
  }
}